/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

.md-html code[class*="language-"],
.md-html pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.md-html pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

.md-html :not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
.md-html :not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.md-html .token.comment,
.md-html .token.prolog,
.md-html .token.doctype,
.md-html .token.cdata {
  color: slategray;
}

.md-html .token.punctuation {
  color: #f8f8f2;
}

.md-html .namespace {
  opacity: .7;
}

.md-html .token.property,
.md-html .token.tag,
.md-html .token.constant,
.md-html .token.symbol,
.md-html .token.deleted {
  color: #f92672;
}

.md-html .token.boolean,
.md-html .token.number {
  color: #ae81ff;
}

.md-html .token.selector,
.md-html .token.attr-name,
.md-html .token.string,
.md-html .token.char,
.md-html .token.builtin,
.md-html .token.inserted {
  color: #a6e22e;
}

.md-html .token.operator,
.md-html .token.entity,
.md-html .token.url,
.md-html .language-css .token.string,
.md-html .style .token.string,
.md-html .token.variable {
  color: #f8f8f2;
}

.md-html .token.atrule,
.md-html .token.attr-value,
.md-html .token.function {
  color: #e6db74;
}

.md-html .token.keyword {
  color: #66d9ef;
}

.md-html .token.regex,
.md-html .token.important {
  color: #fd971f;
}

.md-html .token.important,
.md-html .token.bold {
  font-weight: bold;
}
.md-html .token.italic {
  font-style: italic;
}

.md-html .token.entity {
  cursor: help;
}
